@font-face {
  font-family: 'pixel';
  src: url('../assets/font.ttf');
}

body {
    background-image: url('/assets/background.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;

    display: flex;
    flex-direction: column; /* Stack children vertically */
    align-items: center; /* Center children horizontally */
    justify-content: center; /* Center children vertically */
    min-height: 100vh;
    margin: 0; /* Removes default margin */
}





*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}


.wrapper {
    padding: 10px; /* Reduce padding to make the wrapper smaller */
    margin: 10px auto; /* This adds space on the top and bottom and centers it horizontally */
    max-width: 350px; /* Set a fixed pixel value to control the exact width */
    border-radius: 10px;
    background: #F8F8F8;
    box-shadow: 0 10px 30px rgba(0,0,0,0.1);
}


.cards, .card, .view{
    display: flex;
    align-items: center;
    justify-content: center;
}

.cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* This will center the cards in the wrapper */
    gap: 10px; /* Adjust the space between the cards */
    padding: 10px; /* Padding inside the cards container */
}

.cards .card{
    cursor: pointer;
    list-style: none;
    user-select: none;
    position: relative;
    perspective: 1000px;
    transform-style: preserve-3d;
    height: 60px; /* Adjust the height of the cards */
    width: 60px; /* Adjust the width of the cards */
}

.card.shake{
    animation: shake 0.35s ease-in-out;
}

@keyframes shake {
    0%, 100%{
      transform: translateX(0);
    }
    20%{
      transform: translateX(-13px);
    }
    40%{
      transform: translateX(13px);
    }
    60%{
      transform: translateX(-8px);
    }
    80%{
      transform: translateX(8px);
    }
}

.card .view{
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 7px;
    background: #fff;
    pointer-events: none;
    backface-visibility: hidden;
    box-shadow: 0 3px 10px rgba(0,0,0,0.1);
    transition: transform 0.25s linear;
}
.card .front-view img{
    width: 19px;
}
.card .back-view img{
    max-width: 45px;
}
.card .back-view{
    transform: rotateY(-180deg);
}
.card.flip .back-view{
    transform: rotateY(0);
}
.card.flip .front-view{
    transform: rotateY(180deg);
}

@media screen and (max-width: 700px) {
    .cards{
      height: 350px;
      width: 350px;
    }
    .card .front-view img{
      width: 17px;
    }
    .card .back-view img{
      max-width: 40px;
    }
}
  
  @media screen and (max-width: 530px) {
    .cards{
      height: 300px;
      width: 300px;
    }
    .card .front-view img{
      width: 15px;
    }
    .card .back-view img{
      max-width: 35px;
    }
  }

  .info-box {
    background-color: rgba(0, 0, 0, 0.7); 
    color: rgb(255, 255, 255); 
    padding: 10px;
    text-align: center;
    margin-top: 70px;
    margin-right: auto; 
    margin-left: auto; 
    border-radius: 5px;
    width: 350px;
    height: 150px;
    display: block;
    
}
#text{
  font-family: 'pixel' , cursive;
}

.info-box img{
    width: 70px;
    height: auto;
    vertical-align: middle;
    float: left;
    margin-right: 10px;
}
#loader{
  width: 100px;
  height: auto;
  margin-right: 15px; 
}